<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {'title': 'Administrador de productos'}) %> 
<body>
    <%- include('../partials/header.ejs') %> 

<div class="titleButtonEdit">
  <h2 class="titleAdminProducts">Productos</h2>
  <a href="/products/create" class="btnCreateProduct btnMain"> Crear Producto</a>
</div>

<section class="productsAdmin">
  <!--Testeando forma de los products-->
  <% for(let i = 0; i < products.length ; i++){ %> 
    <div class="adminList">
              
      <div class="listCard">
        <img src="/img/products/<%= products[i].image %>" class="adminImg" alt="...">
        <h5 class="adminProductName"><%= products[i].name %></h5>
        <div class="adminProductPrice"><h6>Precio</h6><h6>$<%= products[i].price %></h6></div>
        <div class="adminProductDiscount"><h6>Descuento</h6><h6 ><%= products[i].discount %>%</h6></div>
        <!--<p class="card-text title"><%= products[i].description %></p>-->
        <br>
       <div class="adminButtons"> 
        <div> <a href="/products/mod/<%= products[i].id %>" class="btn btn-success modifyProduct">Modificar</a></div>
       
        <div><form method="POST" action="/products/<%= products[i].id %>?_method=delete">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form></div>
      </div>
      
      </div>
    </div>
  <% } %> 
</section>


<%- include('../partials/footer.ejs') %> 
</body>
</html>