<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Administrador de productos'}) %> 
<body>
    <%- include('./partials/header.ejs') %> 

<h2>Productos</h2>

<a href="/products/create" class="btn btn-primary btn-lg"> Crear Producto</a>
 

<section class="productsAdmin">
  <!--Testeando forma de los products-->
  <% for(let i = 0; i < products.length ; i++){ %> 
    <div class="adminList">
              
      <div class="listCard">
        <img src="/img/products/<%= productsList.image[i] %>" class="adminImg" alt="...">
        <h5 class="adminProductName"><%= productsList.name[i] %></h5>
        <div class="adminProductPrice"><h6>Precio</h6><h6>$<%= productsList.price[i] %></h6></div>
        <div class="adminProductDiscount"><h6>Descuento</h6><h6 ><%= productsList.discount[i] %>%</h6></div>
        <!--<p class="card-text title"><%= productsList.description[i] %></p>-->
        <br>
       <div class="adminButtons"> 
        <div> <a href="/products/mod/<%= productsList.id[i] %>" class="btn btn-success">Modificar</a></div>
       
        <div><form method="POST" action="/products/<%= productsList.id[i] %>?_method=delete">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form></div>
      </div>
      
      </div>
    </div>
  <% } %> 
</section>


<%- include('./partials/footer.ejs') %> 
</body>
</html>