<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 

<h2>Productos</h2>

<a href="/products/create" class="btn btn-primary btn-lg"> Crear Producto</a>
 

<section class="products">
  <!--Testeando forma de los products-->
  <% for(let i = 0; i < products.length ; i++){ %> 
    <div class="card">
      <img src="/img/products/<%= productsList.image[i] %>" class="img-thumbnail image" alt="...">        
      <div class="card-body">
        <h5 class="card-title title"><%= productsList.name[i] %></h5>
        <h6 class="card-title">$<%= productsList.price[i] %></h6>
        <h6 class="card-title"><%= productsList.discount[i] %>%</h6>
        <p class="card-text title"><%= productsList.description[i] %></p>
        <br>
        <a href="/products/mod/<%= productsList.id[i] %>" class="añadirProducto btnDetail btnDetail btnCompra">Modificar</a>
      </div>
    </div>
  <% } %> 
</section>


<%- include('./partials/footer.ejs') %> 
</body>
</html>