<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Menu de inicio'}) %> 
<body>
    <%- include('./partials/header.ejs') %> 

    <div class="contenedorHome">
            
        <!-- banner de novedades -->
             <div class="contenedorBanner">
         
            </div>
        <!-- botonesHome 
        <div class="contenedorBotonesHome">
            <a class="botonesHome" href="#">Arma tu PC</a>
            <a class="botonesHome" href="#">Categorias</a>
            <a class="botonesHome" href="#">Ayuda</a>
        </div>-->
        <!-- barra ofertas con boton mas -->

        <div class="miniBannerPagos">
            <i class="fas fa-credit-card iconsBanner"></i><p class="pOffer">  Crédito</p>
            <i class="fas fa-id-card iconsBanner"></i><p class="pOffer">  Débito</p>
            <i class="fas fa-hand-holding-usd iconsBanner"></i><p class="pOffer"></i>  Cuotas sin interés</p>
            <i class="fas fa-money-bill iconsBanner"></i><p class="pOffer">  Efectivo</p>
            <i class="fab fa-btc btcIcon"></i><p class="pOffer criptoP">  Criptomonedas</p>
        </div>

        <!-- <section class="bannerBrands">
            <h3 class="titleBrands">Tus marcas preferidas</h3>
            <div class="imgBrandsBanner">
                <img src="/img/brandsBanner/aorus.png" class="imgBrands aorus" alt="">   
                <img src="/img/brandsBanner/msi.png" class="imgBrands" alt="">
                <img src="/img/brandsBanner/razer.png" class="imgBrands " alt="">   
                <img src="/img/brandsBanner/alienware.png" class="imgBrands alienware" alt=""> 
                <img src="/img/brandsBanner/asus.png" class="imgBrands aorus" alt="">  
                <img src="/img/brandsBanner/logitech.png" class="imgBrands aorus" alt="">   
            </div>
        </section> -->
        
        <div class="contenedorOfertas">
        <p>Ofertas</p> 
            </div>
         <!-- seccion ofertas -->
         <div class="contenedorOfertasSeccion">
            <!-- Articulo Ofertas 1 -->
        <% for(let i = 0; i <= 3 ; i++){ %> 
            <a href="/products/<%= productList[i].id %>" class='tarjetaProducto'>
                <div>
                
                    <img class='imagenProducto' src="/img/products/<%= productList[i].image %>" alt= "" >
               
                    <div class='infoProducto'>
                        <div class='nombreProducto'>
                            <%= productList[i].name %>
                        </div>
                        <!--PARA CAMBIAR AGREGAR List A LAS CLASES-->
                        <div class='precioProductoHome'>
                            <p class='precioTotalProducto'>$<%= productList[i].price %></p>
                            <p class='precioDescuentoProducto'><%= productList[i].discount %>% OFF</p>
                        </div>
                    </div>
                </div>
            </a>
        <% } %> 
            <a class="linkArrow" href="/products"><i class="fas fa-arrow-right"></i></a>         
        </div> 
        <!--barra lo mas vendido  boton mas-->
        <div class="contenedorOfertas contenedorVendido">
               <!-- seccion lo mas vendido -->
               <p>Lo más vendido</p> 
        </div>

            <div class="contenedorOfertasSeccion contenedorVendidoSeccion">
                <!-- Articulo lo + vendido 1 -->
                <% for(let i = 1; i <= 4 ; i++){ %> 
                    <a href="/products/<%= productList[i].id %>" class='tarjetaProducto'>
                        <div>
                            <img class='imagenProducto' src="/img/products/<%= productList[i].image %>" alt= "" >
                        </div>
                        <div class='infoProducto'>
                            <div class='nombreProducto'>
                                <%= productList[i].name %>
                                <div class='precioProductoHome'>
                                    <p class='precioTotalProducto'>$<%= productList[i].price %></p>
                                    <p class='precioDescuentoProducto'><%= productList[i].discount %>% OFF</p>
                                </div>
                            </div>  
                        </div>
                    </a>
                <% } %> 
            <a class="linkArrow" href="/products"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>

    <section class="bannerBrands">
        <h4 class="titleBrands">Tus marcas preferidas</h4>
        <div class="imgBrandsBanner">
            <img src="/img/brandsBanner/aorus.png" class="imgBrands aorus" alt="">   
            <img src="/img/brandsBanner/msi.png" class="imgBrands" alt="">
            <img src="/img/brandsBanner/razer.png" class="imgBrands " alt="">   
            <img src="/img/brandsBanner/alienware-logo.png" class="imgBrands " alt=""> 
            <img src="/img/brandsBanner/asus.png" class="imgBrands aorus" alt="">  
            <img src="/img/brandsBanner/logitech.png" class="imgBrands aorus" alt="">   
        </div>
    </section>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>