<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 

    <div class="contenedorHome">
            
        <!-- banner de novedades -->
             <div class="contenedorBanner">
         
            </div>
        <!-- botonesHome -->
        <div class="contenedorBotonesHome">
            <a class="botonesHome" href="#">Arma tu PC</a>
            <a class="botonesHome" href="#">Categorias</a>
            <a class="botonesHome" href="#">Ayuda</a>
        </div>
        <!-- barra ofertas con boton mas -->
        <div class="contenedorOfertas">
        <p>Ofertas</p> <a href="#">más</a>
            </div>
         <!-- seccion ofertas -->
         <div class="contenedorOfertasSeccion">
            <!-- Articulo Ofertas 1 -->
        <% for(let i = 1; i <= 4 ; i++){ %> 
            <a href="/products/<%= productList.id[i] %>" class='tarjetaProducto'>
                <div>
                
                    <img class='imagenProducto' src="<%= productList.image[i] %>" alt= "" >
               
                    <div class='infoProducto'>
                        <div class='nombreProducto'>
                            <%= productList.name[i] %>
                        </div>
                        <div class='precioProductoHome'>
                            <p class='precioTotalProducto'><%= productList.price[i] %></p>
                            <p class='precioDescuentoProducto'><%= productList.discount[i] %>% OFF</p>
                        </div>
                    </div>
                </div>
            </a>
        <% } %> 
            
         
        </div> 
        <!--barra lo mas vendido  boton mas-->
        <div class="contenedorOfertas contenedorVendido">
               <!-- seccion lo mas vendido -->
               <p>Lo mas vendido</p> <a href="#">más</a>
        </div>

            <div class="contenedorOfertasSeccion contenedorVendidoSeccion">
                <!-- Articulo lo + vendido 1 -->
                <% for(let i = 1; i <= 4 ; i++){ %> 
                    <a href="/products/<%= productList.id[i] %>" class='tarjetaProducto'>
                        <div>
                            <img class='imagenProducto' src="<%= productList.image[i] %>" alt= "" >
                        </div>
                        <div class='infoProducto'>
                            <div class='nombreProducto'>
                                <%= productList.name[i] %>
                                <div class='precioProductoHome'>
                                    <p class='precioTotalProducto'><%= productList.price[i] %></p>
                                    <p class='precioDescuentoProducto'><%= productList.discount[i] %>% OFF</p>
                                </div>
                            </div>  
                        </div>
                    </a>
                <% } %> 
            
        </div>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>