<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Log in'})  %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <section class="contenedorLogIn">
        <article class="aside">
            <div class="logoEnvios">
                <i class="fas fa-truck"></i>
                <p>Envios gratis a toda Argentina en compras superiores a $5000</p>
            </div>
            <div class="logoListaDeseos">
                <i class="fas fa-thumbtack"></i>
                <p>Utiliza la Lista de Deseos para guardar tus productos favoritos</p>
            </div>
        </article>   
        <article class="logIn">
            <h3>Inicia Sesion</h3>
            <div class="logInExterno">
               <!-- <button class='btn btn-primary'>Iniciar con Google</button>
                <button class='btn btn-primary'>Iniciar con Facebook</button>-->
            </div>
        <!-- <span class="separadorLogIn">OR</span>-->

        <form action="/users/profile" method="POST">
            <input type="text" name="emailLogIn" class="form-control" placeholder="Email">
            <input type="password" name="passLogIn" class="form-control" placeholder="Password">
            <input type="submit" value="Enviar">
        </form>

        <div>
            <% if(typeof validacionesLogIn != 'undefined'){ %>
                <% validacionesLogIn.forEach( (validacion) => { %>
                    <p style="color: red;">
                    <%= validacion.msg %> 
                    </p>
                <% }) %> 
            <% } %> 
        </div>

        <div>
            <% if(locals.errors && errors.email){ %>
                <span>
                    <%= errors.email.msg %> 
                </span>
            <% } %> 
        </div>
        </article>
    </section>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>
