<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Editor de productos'}) %> 
<body>
    <%- include('./partials/header.ejs') %> 

    <h2 class='productosH2'>Modificar Producto</h2>

    <form method='POST' action="/products/mod/<%- product.id %>?_method=PUT" class="formAgregar" enctype="multipart/form-data">
      <div class="agregarFoto profile-img">
        <img src="/img/addPhoto.png" alt="" />
        <div class="file btn btn-lg btn-primary">
          <span>Cambiar foto</span>
          <input type="file" name="imagenProducto" />
        </div>
      </div>
      <input name='name' class="createPForms" type="text" value="<%- product.name %>"  >
      <select name= 'category' class="formCategory" aria-label="Default select example">
        <option selected><%- product.category %></option>
        <option value="Cpus">Cpus</option>
        <option value="Motherboards">Motherboards</option>
        <option value="Placas de Video">Placas de Video</option>
        <option value="Memorias Ram">Memorias Ram</option>
        <option value="Fuentes">Fuentes</option>
        <option value="Perifericos">Perifericos</option>
        <option value="Accesorios">Accesorios</option>
      </select> 
      <input name='price' class="createPForms" type="number" value="<%- product.price %>">
      <input name="discount"class="createPForms" type="number" value="<%- product.discount %>">
      <textarea class="createPForms" name="description" id="" cols="30" rows="4"><%= product.description %></textarea>
      <div> 
        <button type="submit" class="btn btn-primary btn-lg">Modificar Producto</button> 
        
       
        <!-- <form action=""></form>
        <a href="/"><button type="push" class="borrarproducto">Eliminar Producto</button></a> -->
       </div>
    </form>
  <div><form method="POST" action="/products/<%= product.id %>?_method=delete">
    <button type="submit" class="btn btn-danger">Eliminar producto</button>
    </form> </div>
  

    <%- include('./partials/footer.ejs') %> 
</body>
</html>