<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Editor de productos'}) %> 
<body>
    <%- include('./partials/header.ejs') %> 

    <section class="contenedorLogIn">
      <article class="aside editProductView">
          <div class="logoEnvios">
              <img src="/img/logo.svg" alt="">
              <p>Modifica tu producto! no seas rata y no me aumentes el precio de esa placa de video</p>
          </div>
          <div class="logoListaDeseos">
          </div>
      </article>   
      <article class="logIn">
          <div class="logInExterno">
            <!-- <button class='btn btn-primary'>Iniciar con Google</button>
              <button class='btn btn-primary'>Iniciar con Facebook</button>-->
          </div>
      <!-- <span class="separadorLogIn">OR</span>-->
    
      <form method='POST' action="/products/mod/<%- product.id %>?_method=PUT" class="formAgregar" enctype="multipart/form-data">
    
          <!--name-->
          <input name='name' class="form-control" type="text" value="<%- product.name %>"  >
          <!--price-->
          <input name='price' class="form-control" type="number" value="<%- product.price %>">
          <!--discount-->
          <input name="discount"class="form-control" type="number" value="<%- product.discount %>">
          <!--Description-->
          <textarea class="form-control" name="description" id="" cols="30" rows="4"><%= product.description %></textarea>
          <!--Category-->
          <select name= 'category' class="form-control" aria-label="Default select example">
            <option selected><%- product.category_id.name %></option>
            <option value="<%- product.category_id = 1 %>">Cpus</option>
            <option value="<%- product.category_id = 2 %>">Motherboards</option>
            <option value="<%- product.category_id = 3 %>">Placas de Video</option>
            <option value="<%- product.category_id = 4 %>">Memorias Ram</option>
            <option value="<%- product.category_id = 5 %>">Fuentes</option>
            <option value="<%- product.category_id = 6 %>">Perifericos</option>
            <option value="<%- product.category_id = 7 %>">Accesorios</option>
          </select> 
          <!--current image-->
          <div class="actualImg">
            <span>Imagen actual</span>
          <img src="/img/products/<%- product.image %>" class="currentImg" alt="">
          </div>
          <!--new image-->
          <div class="center ">
            <div class="form-input">
              <div class="preview">
                <img id="file-ip-1-preview">
              </div>
              <label for="file-ip-1">Upload Image</label>
              <input type="file" id="file-ip-1" name="imagenProducto" accept="image/*" onchange="showPreview(event);">
              
            </div>
          </div> 
          <script type="text/javascript">
            function showPreview(event){
            if(event.target.files.length > 0){
              var src = URL.createObjectURL(event.target.files[0]);
              var preview = document.getElementById("file-ip-1-preview");
              preview.src = src;
              preview.style.display = "block";
              preview.style.maxHeight = '350px';
              preview.style.maxWidth = '350px';
            }
          }
          </script>
      <!--Create and delete-->
      <div class="buttonEdit">
        <button type="submit" class="btn btn-primary btn-lg">Modificar Producto</button> 
      </div>
    </form>
    <div><form method="POST" action="/products/<%= product.id %>?_method=delete">
      <button type="submit" class="btn btn-danger">Eliminar producto</button>
      </form> </div>
    
      </article>
    </section>
 

    <%- include('./partials/footer.ejs') %> 
</body>
</html>





  

  




  