<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Listado de productos'}) %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <!-- <div class="categorias">
    <h2>Listado de Productos</h2>
    <h3>Categorias</h3>
    <div class="contenedorList"><ul>
      <div><a href="#"><li> <h5>Cpus</h5></li></a>
      <a  href="#"><li> <h5>Motherboards</h5></li></a>
      <a  href="#"><li> <h5>Placas de Video</h5></li></a>
   
      <a  href="#"><li> <h5>Memorias Ram</h5></li></a></div>
      <div class="segundoDiv"><a  href="#"><li> <h5>Fuentes</h5></li></a>
      <a  href="#"><li> <h5>Perifericos</h5></li></a>
      <a  href="#"><li> <h5>Accesorios</h5></li></a></div>
    </ul></div>
  </div> -->
  <h2>Listado de productos</h2>
<!-- <a href="/products/admin" class="btn btn-primary btn-lg"> Administrador</a>-->
    <section class="products"> 
  
      <!--Testeando forma de los products-->
      <% for(let i = 0; i < products.length ; i++){ %> 
        <div class="card">
          <img src="/img/products/<%= productList.image[i] %>" class="img-thumbnail image" alt="...">        
          <div class="card-body">
            <h5 class="card-title title"><%= productList.name[i] %></h5>
            <h6 class="card-title">$<%= productList.price[i] %></h6>
            <br>
            <a href="/products/<%= productList.id[i] %>" class="añadirProducto btnDetail btnCompra">Ir al Producto</a>
          </div>
        </div>
      <% } %> 
    </section>
  

    <%- include('./partials/footer.ejs') %> 
</body>
</html>
