<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Listado de productos'}) %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <!-- <div class="categorias">
    <h2>Listado de Productos</h2>
    <h3>Categorias</h3>
    <div class="contenedorList"><ul>
      <div><a href="#"><li> <h5>Cpus</h5></li></a>
      <a  href="#"><li> <h5>Motherboards</h5></li></a>
      <a  href="#"><li> <h5>Placas de Video</h5></li></a>
   
      <a  href="#"><li> <h5>Memorias Ram</h5></li></a></div>
      <div class="segundoDiv"><a  href="#"><li> <h5>Fuentes</h5></li></a>
      <a  href="#"><li> <h5>Perifericos</h5></li></a>
      <a  href="#"><li> <h5>Accesorios</h5></li></a></div>
    </ul></div>
  </div> -->
  <h2 class="listText">Listado de productos</h2>
<!-- <a href="/products/admin" class="btn btn-primary btn-lg"> Administrador</a>-->
    <section class="products"> 

  
      <!--Testeando forma de los products-->
      <% for(let i = 0; i < products.length ; i++){ %> 
        <a href="/products/<%= products[i].id %>" class='tarjetaProducto'>
            <div>
                <img class='imagenProducto' src="/img/products/<%= products[i].image %>" onerror="if (this.src != '/img/no-image.jpg') this.src = '/img/no-image.jpg';">
            </div>
            <div class='infoProducto'>
                <div class='nombreProducto'>
                    <p class="nameProduct"><%= products[i].name %></p>
                    <div class='precioProductoList'>
                        <p class='precioTotalProductoList'>$<%= products[i].price %></p>
                        <% if(products[i].discount == 0) { %> 

                            <p class='precioDescuentoProductoList2a precioDescuentoProductoList'>Sin descuento</p>
                                                        
                        <% } else{ %> 
                        <p class='precioDescuentoProductoList'><%= products[i].discount %>% OFF</p>
                        <% } %> 
                    </div>
                </div>  
            </div>
        </a>
    <% } %> 
    </section>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>