<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
 
    <%- include('./partials/header.ejs') %> 

    <section class="producto">
    
      <article class="caruselNombre">
            
            <h2 class="nombreDeProducto"><%= JSON.stringify(productDetail[0].name).replace(/\"/g, "") %></h2>
          <!--
            <div class="carousel">
              <img src="<%= productDetail[0].image %>" class="carousel" alt="">
            </div>
          -->
          <!---->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carrusel carousel-inner">
              <div class="elemento carousel-item active">
                <img src="/img/2.png" class="d-block w-100">
              </div>
              <div class="elemento carousel-item">
                <img src="/img/2.png" class="d-block w-100">
              </div>
              <div class="elemento carousel-item">
                <img src="/img/2.png" class="d-block w-100">
              </div>
            </div>
            <button class="boton carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="boton carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="boton carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="boton carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
        </div>  

      </article>

        <article class="datosProducto">
            <h4 class="precioProducto">$<%= JSON.stringify(productDetail[0].price).replace(/\"/g, "") %></h4> 
            <button class="añadirProducto"><i class="far fa-cart-plus"></i> Añadir al carrito</button> <br>
            <button class="añadirProducto2"> Comprar</button> <br>
            <a href="#" class="pagoProducto">Metodos de pago</a>
         <article class="ofertaProducto">
             <p class="oferta1"><i class="fas fa-shipping-fast"></i> envios a todo el pais</p>
             <p class="oferta2"><i class="fas fa-percent"></i> Descuento</p>
         </article>
        </article>
    </section>
    <div class="descripcionDiv">
      <div class="descName">
        <h3>Características</h3>
      </div>
  
    <div class="hr"></div>
  
    <div class="descText">
        <p><%= JSON.stringify(productDetail[0].description) %> </p>
    </div>
    </div>
    <h2 class="busquedas">en base a busquedas similares</h2>

    <article class="masArticulos">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/mouse.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Goku UI</h5>
              <h6 class="card-title">$999</h6>
              <br>
              <a href="#" class="añadirProducto btnCompra">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/mouse.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Goku UI</h5>
              <h6 class="card-title">$999</h6>
              <br>
              <a href="#" class="añadirProducto btnCompra">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/mouse.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Goku UI</h5>
              <h6 class="card-title">$999</h6>
              <br>
              <a href="#" class="añadirProducto btnCompra">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/mouse.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Goku UI</h5>
              <h6 class="card-title">$999</h6>
              <br>
              <a href="#" class="añadirProducto btnCompra">Comprar</a>
            </div>
          </div>
          
    </article> 

    <section class="contenedorProductDetail">
      <div class="productDetail">
        <img src="<%= productDetail[0].image %>" alt="">
        <p> ID: <%= JSON.stringify(productDetail[0].id) %> </p>
        <p> Name: <%= JSON.stringify(productDetail[0].name) %> </p>
        <p> Description: <%= JSON.stringify(productDetail[0].description) %> </p>
        <p> Price <%= JSON.stringify(productDetail[0].price) %> </p>
        <p> Category: <%= JSON.stringify(productDetail[0].category) %> </p>
      </div>
    </section>
  
    <%- include('./partials/footer.ejs') %> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>