<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Detalle del producto'}) %> 
<body>
 
    <%- include('./partials/header.ejs') %> 

    <section class="producto">
    
      <article class="caruselNombre">
            
        <!--product name-->
          <h2 class="nombreDeProducto"><%= JSON.stringify(productDetail.name).replace(/\"/g, "") %></h2>
          
        <!--product image-->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> 
            <img src="/img/products/<%= productDetail.image %>" class="d-block w-100">
          </div>

      </article>

        <article class="datosProducto">
            <h4 class="precioProducto">$<%= JSON.stringify(productDetail.price).replace(/\"/g, "") %></h4> 
            <button class="añadirProducto"><i class="far fa-cart-plus"></i> Añadir al carrito</button> <br>
            <button class="añadirProducto2"> Comprar</button> <br>
            <a href="#" class="pagoProducto">Metodos de pago</a>
         <article class="ofertaProducto">
             <p class="oferta1"><i class="fas fa-shipping-fast"></i> envios a todo el pais</p>
             <p class="oferta2"><i class="fas fa-percent"></i> <%= JSON.stringify(productDetail.discount).replace(/\"/g, "" ) %> Descuento</p>
         </article>
        </article>
    </section>
    <div class="descripcionDiv">
      <div class="descName">
        <h3>Características</h3>
      </div>
  
    <div class="hr"></div>
  
    <div class="descText">
        <p><%= JSON.stringify(productDetail.description) %> </p>
    </div>
    </div>
    <h2 class="busquedas">en base a busquedas similares</h2>

    <article class="masArticulos">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/mouse.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Goku UI</h5>
              <h6 class="card-title">$999</h6>
              <br>
              <a href="#" class="añadirProducto btnCompra">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/mouse.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Goku UI</h5>
              <h6 class="card-title">$999</h6>
              <br>
              <a href="#" class="añadirProducto btnCompra">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/mouse.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Goku UI</h5>
              <h6 class="card-title">$999</h6>
              <br>
              <a href="#" class="añadirProducto btnCompra">Comprar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/mouse.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Goku UI</h5>
              <h6 class="card-title">$999</h6>
              <br>
              <a href="#" class="añadirProducto btnCompra">Comprar</a>
            </div>
          </div>
          
    </article> 
    <!-- hacer modificaciones luego - cambiar array de un elemento a objeto -->
    <section class="contenedorProductDetail">
      <!--div class="productDetail">
        <img src="/img/products/<%= productDetail.image %>" alt="">
        <p> ID: <%= JSON.stringify(productDetail.id) %> </p>
        <p> Name: <%= JSON.stringify(productDetail.name) %> </p>
        <p> Description: <%= JSON.stringify(productDetail.description) %> </p>
        <p> Price <%= JSON.stringify(productDetail.price) %> </p>
        <p> Category: <%= JSON.stringify(productDetail.category) %> </p>
      </div-->
    </section>
  
    <%- include('./partials/footer.ejs') %> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>