<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Perfil'})  %>  
<body>

    <%- include('./partials/header.ejs') %> 
   <!--
    <h3> Bienvenido
        <%= userLogged.name %> 
    </h3>
    <div><img src="/img/avatars/<%= userLogged.avatar %> " alt=""></div>
    <a href="/users/logout">Log Out</a>-->
    
    <!--<div class="container">
        <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="/img/avatars/<%= userLogged.avatar %> " alt="Admin" class="rounded-circle" width="150">        
                        <h2> <%= userLogged.name %> <%= userLogged.surname %> </h2>
                        <h6 class="text-secondary"> <%= userLogged.email %> </h6>    
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
      </div>
    </div>-->

  <div class="profileinfo">
    <div id="gradient"></div>
    <div id="cardProfileLogued">
      <img src="/img/avatars/<%= userLogged.avatar %>"/>
      <h2><%= userLogged.name %> <%= userLogged.surname %> </h2>
      <p>Email : <%= userLogged.email %></p>
      <p>Direccion : </p>
      <p>Metodo de pago : </p>
      
      <form action="/users/moduser">
        <div><button class="editButton">Editar Info</button></div>
      </form>
    <form action=""><div><button class="editButton"><a href="/users/logout">Salir</a></button></div></form>
    </div>
    
  </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>
