<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Perfil'})  %>  
<body>

    <%- include('./partials/header.ejs') %> 

  <!--<div class="profileinfo">
    <div id="gradient"></div>
    <div id="cardProfileLogued">
      <img src="/img/avatars/<%= userLogged.avatar %>"/>
      <h2><%= userLogged.name %> <%= userLogged.surname %> </h2>
      <p>Email : <%= userLogged.email %></p>
      
      <a href="/users/update">Editar</a>
    <form action=""><div><button class="editButton"><a href="/users/logout">Salir</a></button></div></form>
    </div>  
  </div> -->

  <div class="containerProfile">
    <div>
        <div class="cardProfile">
            <div class="card-header" 
            style="background-image: url('/img/world.jpeg')">
                <div class="card-photo">
                    <img src="/img/avatars/<%= userLogged.avatar %>" class="imgProfileView" alt="">
                </div>
            </div>
            <div class="card-body">
                <h3 class="cardName"><%= userLogged.name %> <%= userLogged.surname %></h3>
                <p class="card-description"><%= userLogged.email %></p>
                <div class="card-button">
                    <a href="/users/update" class="btnMain">Editar</a>
                    <form action="">
                      <div>
                       
                        <a href="/users/logout" class="btnMain">Salir</a>
                      </div>
                    </form>
                </div>
                <ul class="card-social">
                    <li><i class="fas fa-user-tie iconProfile"></i></li>
                    <li><i class="fas fa-user-astronaut iconProfile"></i></li>
                    <li><i class="fas fa-user-secret iconProfile"></i></li>
                    <li><i class="fas fa-user-ninja iconProfile"></i></li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <br>
<section class="sectionProfile">
  <p>profile</p>
</section>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>
