<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Perfil'})  %>  
<body>

    <%- include('./partials/header.ejs') %> 
   
    <h3> Bienvenido
        <%= userLogged.name %> 
    </h3>
    <div><img src="/img/avatars/<%= userLogged.avatar %> " alt=""></div>
    <a href="/users/logout">Log Out</a>
    
    <%- include('./partials/footer.ejs') %> 
</body>
</html>
